.grid {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background: purple;
    border-radius: 10px;
}

.shooter {
    background: red;
}
.laser {
    background: orange;
}